body {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 4.5fr;
  height: 100vh;
  font-family: "roboto", "Tangerine";
}

* {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

.side-bar {
  grid-column: 1;
  grid-row: 1/3;
  background-color: rgba(85, 147, 198, 0.847);
  border: 1px solid black;
  display: grid;
  grid-template-rows: 0.5fr 1.5fr 3.5fr;
  gap: 15px;
  color: white;
  /* font-family: "roboto", "Tangerine"; */
  font-size: 1.2em;
  /* Added this to stop Communities overflowing */
  min-width: max-content;
}
.branding {
  border: 1px solid black;
  display: grid;
  justify-content: start;
  align-content: center;
  padding-left: 10%;
}
.navigation {
  border: 1px solid black;
  padding-left: 15%;
}
.settings-info {
  border: 1px solid black;
  padding-left: 15%;
}

.side-bar li {
  padding-top: 10px;
}

.header-bar {
  grid-column: 2;
  grid-row: 1;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(206, 38, 38);
  display: grid;
  grid-template: 1fr 1fr / 2fr 1fr;
  column-gap: 20px;
  padding: 0 40px;
}
.main-content {
  grid-column: 2;
  grid-row: 2;
  background-color: rgba(223, 227, 223, 0.731);
  border: 1px solid black;
  display: grid;
  grid-template-columns: 2fr 1fr;
}
.search-input-header {
  align-self: center;
}

.welcome-user-header {
  border: 1px solid rgb(42, 92, 220);
  /* justify-self: start; */
  display: grid;
  gap: 10px;
  justify-content: start;
}

.usr-info-header,
.btns-header {
  border: 1px solid red;
  align-self: center;
  /* Created for better visibility of grid borders but stops justify end working. can be solved with text align end*/
  /* min-width: 100%; */
  /* text-align: end; */
}
.usr-info-header {
  justify-self: end;
}

.btns-header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 15px;
}

.user-name-heading {
  /* display: block; */
  font-size: 1.2em;
  font-weight: 800;
  /* min-width: 50px; */
  border: 1px solid red;
  grid-column: 2;
  grid-row: 1;
}

#search {
  background-color: aquamarine;
  min-width: 100%;
}

div[class="usr-info-header"] > h3 {
  display: inline;
}

.btn {
  min-width: 50px;
}

.main-projects {
  border: 1px solid green;
  padding: 30px;
}

.main-sidebar {
  border: 1px solid rgb(214, 247, 23);
  padding: 0 20px 30px;
}

.trending-list > li {
  display: grid;
  grid-template-columns: 1fr 3fr;
  padding: 30px 30px 0;
  /* border: solid 1px black; */
  /* background-color: antiquewhite; */
}

li img {
  border-radius: 25px;
  height: 50px;
  width: 50px;
}

div[class="user-name-heading"] {
  display: inline-block;
}

.welcome-user-header img {
  border-radius: 25px;
  height: 50px;
  width: 50px;
  border: 1px solid;
  grid-column: 1;
  grid-row: 1;
}

.anouncement-list > li {
  display: grid;
  /* border: solid 1px black; */
  /* background-color: antiquewhite; */
  /* border-radius: 8px; */
}

.anouncement-list,
.trending-list {
  background-color: rgb(209, 194, 175);
  border-radius: 8px;
}
.trending-list {
  padding-bottom: 30px;
}

.anouncement-list {
  padding: 30px;
}

.trending,
.anouncements {
  padding-top: 30px;
}

.trending > h2,
.anouncements > h2,
.main-projects > h2 {
  padding-bottom: 10px;
}

.projects-list {
  display: grid;
  grid-template: 1fr 1fr 1fr/ 1fr 1fr;
  gap: 20px;

  /* padding: 20px; */
  /* grid-template-columns: repeat(auto-fit, 350px); */
}

.projects-list > li {
  background-color: rgb(209, 194, 175);
  border-radius: 8px;
  padding: 30px;
  border-left: 8px solid #e79213;
}

.break-line {
  width: 100%;
  height: 15px;
  position: relative;
  padding-top: 10px;
}

/* Content needs to be set to "" to create the line */

.break-line::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 70%;
  left: 15%;
  border-top: 1px solid rgb(233, 228, 228);
}

h3 + p {
  font-size: 18px;
}
